Package: com.randy420.taidependsother
Name: Theos Auto Installer Dependencies for All Other Jailbreaks
Depends: clang-10, coreutils, coreutils-bin, xz, dpkg, lz4, odcctools, darwintools, llvm, llvm-10, libllvm10, com.bingner.plutil, openssl, org.swift.libswift
Conflicts: com.randy420.taidependscoolstar, org.theos.dependencies, theos-dependencies
Architecture: iphoneos-arm
Description: dependencies for all other jailbreaks
Depiction: https://Randy-420.GitHub.io/depic/taidependsother.html
Homepage: https://theemeraldisle.family
Maintainer: Randy420 <randy.skinner@hotmail.com>
Author: Randy420 <randy.skinner@hotmail.com>
Version: 0.3
Replaces: com.randy420.taidependscoolstar, org.theos.dependencies, theos-dependencies
Section: System
Tag: role::hacker